<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>T-Square.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E7C6F5B1B8E6DDE00E95183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7C6F6F1B8E6DDE00E95183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7C6F841B8E70C200E95183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
